---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Products from '../components/Products.astro'
import Footer from '../components/Footer.astro'
import Attribution from '../components/Attribution.astro'
---

<Layout title="Frontend Mentor | Loopstudios landing page">
  <main class="relative font-josefin-sans bg-white">
    <Header />
    <Hero />
    <About />
    <Products />
    <Footer />
    <Attribution />
  </main>
</Layout>
