---
import { Icon } from 'astro-icon/components'

const items = [
  {
    url: '#about',
    name: 'About'
  },
  {
    url: '#careers',
    name: 'Careers'
  },
  {
    url: '#events',
    name: 'Events'
  },
  {
    url: '#products',
    name: 'Products'
  },
  {
    url: '#support',
    name: 'Support'
  },
]

const social = ['icon-facebook', 'icon-twitter', 'icon-pinterest', 'icon-instagram']
---

<footer class="mt-20 p-14 text-white bg-black md:py-11 md:mt-40">
  <div class="flex flex-col items-center max-w-container mx-auto md:flex-row md:justify-between">
    <div class="flex flex-col items-center md:items-start md:gap-y-7">
      <div>
        <Icon class="w-36 h-auto" name="logo" />
      </div>
      <ul class="flex flex-col items-center gap-5 mt-8 font-alata-regular text-sm md:flex-row lg:gap-x-9 md:mt-0">
        {items.map(({ name, url }) => (
          <li>
            <a class="relative after:absolute after:left-0 after:-bottom-1.5 after:w-0 after:h-px after:bg-white after:transition-[width] hover:after:w-full" href={url}>{name}</a>
          </li>
        ))}
      </ul>
    </div>
    <div class="flex flex-col items-center md:items-end md:gap-y-7">
      <ul class="flex gap-x-4 mt-12 md:mt-0">
        {social.map((name) => (
          <li class="w-6 [&_svg]:size-full relative after:absolute after:left-0 after:-bottom-1.5 after:w-0 after:h-px after:bg-white after:transition-[width] hover:after:w-full">
            <a href="#"><Icon name={name} /></a>
          </li>
        ))}
      </ul>
      <div class="mt-4 md:mt-0">
        <p class="font-alata-regular text-sm text-dark-gray">© 2021 Loopstudios. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
