<div class="w-screen h-screen px-6 bg-image-mobile-hero bg-cover md:bg-image-desktop-hero">
  <div class="flex items-center size-full max-w-container mx-auto md:pt-12">
    <div class="max-w-[650px] p-6 pb-4 border-2 border-white md:border-4 md:p-10 md:pb-8">
      <h1 class="uppercase text-[2.45rem]/none text-white sm:text-5xl md:text-7xl">
        Immersive experiences that deliver
      </h1>
    </div>
  </div>
</div>
